<link rel="stylesheet" href="/css/form.css">
<div class="h-screen backdrop-blur flex justify-center items-center">
    <div>
        <form action="/check-target-existence" enctype="multipart/form-data" method="post" class="min-w-[40rem] mx-auto bg-slate-800 text-white dark:bg-white dark:text-slate-600 py-16 px-4 rounded-md">
            <h1 class="text-center text-5xl font-semibold">CHECK TARGET EXISTENCE</h1>
                <div class="form__group">
                    <label for="target">Target</label>
                    <input type="text" id="target" name="target" class="form__controll" placeholder="http://test.com/">
                    <div class="form__message"></div>
                </div>
                <div class="form__group">
                    <label for="head">Head</label>
                    <textarea class="text-slate-600" name="head" id="head" rows="10">User-Agent: Mozilla/5.0</textarea>
                    <div class="form__message"></div>
                </div>
                <div class="form__group">
                    <label for="file">Choose File Path</label>
                    <input type="file" id="file" name="file" class="form__controll">
                    <div class="form__message"></div>
                </div>
            <div class="form__group">
                <input type="submit" class="form__controll bg-cyan-700" value="Check">
            </div>
            <div class="form__group">
                <button type="button" class="form__controll bg-cyan-700" id="stopScan">Stop Scan</button>
            </div>
        </form>
        <div id="progress" class="flex"></div>
    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', () => {
        $('#target').val("");
        
        const socket = new WebSocket('ws://127.0.0.1:3333');

        socket.onmessage = function (event) {
            const result = JSON.parse(event.data); 
            const progress = document.getElementById('progress');
            progress.innerHTML = `Processing <p class="ml-8" id="processing">${result.progress}</p> %`;
        };

        socket.onopen = function () {
            console.log('WebSocket connection established');
        };
        socket.onclose = function (event) {
            console.log(`WebSocket connection closed: code=${event.code}, reason=${event.reason}`);
        };

        const stopButton = $('#stopScan');
        stopButton.click(() => {
            fetch('/check-target-existence/stop')
        })
    });
</script>