<link rel="stylesheet" href="/css/form.css">
<div class="h-screen backdrop-blur flex justify-center items-center">
    <div>
        <form action="/check-target-existence" enctype="multipart/form-data" method="post" class="min-w-[40rem] mx-auto bg-slate-800 text-white dark:bg-white dark:text-slate-600 py-16 px-4 rounded-md">
            <h1 class="text-center text-5xl font-semibold">CHECK TARGET EXISTENCE</h1>
                <div class="form__group">
                    <label for="target">Target</label>
                    <input type="text" id="target" name="target" class="form__controll" placeholder="http://test.com/">
                    <div class="form__message"></div>
                </div>
                <div class="form__group">
                    <label for="head">Head</label>
                    <textarea class="text-slate-600" name="head" id="head" rows="10">User-Agent: Mozilla/5.0</textarea>
                    <div class="form__message"></div>
                </div>
                <div class="form__group">
                    <label for="file">Choose File Path</label>
                    <input type="file" id="file" name="file" class="form__controll">
                    <div class="form__message"></div>
                </div>
            <div class="form__group">
                <input type="submit" class="form__controll bg-cyan-700" value="Check">
            </div>
        </form>
    </div>
</div>
<h1>WebSocket Progress Monitor</h1>
<ul id="progressList"></ul> <!-- Nơi hiển thị tiến trình -->

<script>
    // Tạo kết nối WebSocket đến server
    const socket = new WebSocket('ws://localhost:8888');

    // Khi nhận được dữ liệu từ WebSocket
    socket.onmessage = function (event) {
        console.log(1);
        const result = JSON.parse(event.data);  // Parse JSON data nhận từ server
        const progressList = document.getElementById('progressList');
        const listItem = document.createElement('li');

        // Hiển thị kết quả nhận được
        listItem.textContent = `URL: ${result.uri}, Status: ${result.status}, Byte Length: ${result.byteLength}`;
        progressList.appendChild(listItem);  // Thêm vào danh sách hiển thị
    };

    // Khi WebSocket kết nối thành công
    socket.onopen = function () {
        console.log('WebSocket connection established');
    };

    // Khi WebSocket đóng kết nối
    socket.onclose = function () {
        console.log('WebSocket connection closed');
    };
</script>
<script>
    document.addEventListener('DOMContentLoaded', () => {
        $('#target').val("");
    });
</script>